[Unit]
Description=Pi-Alarm
After=network.target

[Service]
ExecStart=/home/pi/pi-alarm
WorkingDirectory=/home/pi/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
