[Unit]
Description=Pi-Alarm
After=network.target

[Service]
ExecStart=/home/pi/pi-alarm
WorkingDirectory=/home/pi/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi
Environment=DEBUG=false
Environment=GOOGLE_CLIENT_ID={{.GOOGLE_CLIENT_ID}}
Environment=GOOGLE_CLIENT_SECRET={{.GOOGLE_CLIENT_SECRET}}
Environment=REDIRECT_URL={{.REDIRECT_URL}}
Environment=AUTHORIZED_USERS={{.AUTHORIZED_USERS}}

[Install]
WantedBy=multi-user.target
